.title1{

    background: #1D95CF;
    background: linear-gradient(to right, #1D95CF 3%, #CF4946 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.title3{
    background: #15b2c1;
    background: linear-gradient(to right, #46cad6 3%, #c042d1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.title2{
    background: #1D95CF;
    background: linear-gradient(to top left, #1D95CF 3%, #CFCFCF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.qts{

    background: #4d5b62;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.ashraf{
    height: 79vh;
}
.what{
    padding-bottom: 1%;
}
.what2{
    padding-bottom: 2%;
}