.title1{

    background: #1D95CF;
    background: linear-gradient(to right, #1D95CF 3%, #CF4946 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.title2{
    background: #1D95CF;
    background: linear-gradient(to  left, #1D95CF 3%, #ce4f4f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}