.Hello{

    background: #1D95CF;
    background: linear-gradient(to right, #1D95CF 3%, #CF4946 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.qts{

    background: #4d5b62;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.ashraf{
    height: 79vh;
}
.what{
    padding-bottom: 1%;
}